<h1>Create</h1>

<form>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Titulo</label>
    <input type="text" class="form-control" placeholder="title" />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Fecha</label>
    <input type="date" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"
      >Descripcion de la idea</label
    >
    <input type="text" class="form-control" placeholder="description" />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">image</label>
    <input type="text" class="form-control" placeholder="image" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
